@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .belissimo {
        margin-left: 56%;
        margin-top: -18%;
    }
    h2 {
        font-style: oblique;
        font-family: "Comic Sans MS", cursive, sans-serif;
        font-size: 70px;
        color: black;
        margin-left: 20%;
    }
    p {
        font-style: normal;
        font-size: 35px;
        font-family: "Comic Sans MS", cursive, sans-serif;
        color: black;
        margin-right: 50%;
        margin-left: 20%;
        text-align: left;
        padding: 5px;
        margin-bottom: 3%;
    }
    .mySlides {
        width: 1000px;
        height: 600px;
        border: 2px solid white;
        margin-left: 25%;
        margin-top: 2%;
        border-radius: 10px;
        box-shadow: 0px 0px 30px orange;
    }
    h2 {
        font-style: oblique;
        font-family: "Comic Sans MS", cursive, sans-serif;
        font-size: 70px;
        color: black;
        margin-left: 20%;
    }
    #text {
        background-color: white;
        margin-bottom: -8%;
        box-shadow: 0px 0px 10px #fffff0;
    }
</style>
<div>
    <br>
    <div class="images" width="1000px" height="600px" id="slider">
        <img class="mySlides" src="/img/a1.jpg">
        <img class="mySlides" src="/img/a2.jpg">
        <img class="mySlides" src="/img/a3.jpg">
    </div>
    <div id="text">
        <h2>Welcome to Yummy!</h2>
        <p>Here you will find a lot of sets to eat. They are very tasty, fast and cheap! Have time to order your favorite burgers, pizzas and sushi. We'll be waiting for you. Bon appetit!</p>
    </div>
    <img src="/img/a4.jpg" width="600" height="400" class="belissimo">
    <br>

</div>
<script type="text/javascript">
    var slideIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > x.length) { slideIndex = 1 }
        x[slideIndex - 1].style.display = "block";
        setTimeout(carousel, 3000);
    }    //

</script>

