@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    #page {
        color: #fff;
        background: rgba(255,255, 255, .6);
        
    }

    #menu {
        margin-left: 100px;
        width: 900px;
    }

        #menu h1 {
            color: rgb(255,255,255);
            text-shadow: 0 15px 20px rgb(46,229,157);
            margin-left: 30px;
            font-size: 50px;
            font-family: comic sans ms;
            font-weight: normal;
            text-shadow: 1px 1px 2px rgb(19, 23, 20);
        }

        #menu p.order {
            font-family: 'Lato', sans-serif;
            font-style: italic;
            font-size: 18px;
            margin: 0;
            padding: 30px;
            background: #FFF1DE;
            text-align: center;
            color: #000;
            text-shadow: rgba(255,255,255,.5) 1px 1px, rgba(100,100,100,.3) 3px 3px 3px;
            box-shadow: 0 15px 20px rgba(142, 245, 207, .4);
        }

    a {
        color: #000;
    }

        a:hover {
            filter: brightness(150%);
        }

    /*for setting size and position for images inside each panel*/
    #pizza img {
        width: 200px;
        height: 200px;
    }

    #sushi img {
        width: 250px;
        height: 166px;
        margin-left: 30px;
    }

    #burgers img {
        weight: 200px;
        height: 200px;
        margin-left: 35px;
    }

    #drinks img.desserts {
        width: 230px;
        height: 156px;
        margin-left: 40px;
    }

    #drinks img.drinks {
        width: 200px;
        height: 200px;
        margin-left: 60px;
    }

    /*For paragraph texts naming the images*/
    /*PIZZA*/
    .pepperoni {
        margin-left: 20px;
        margin-top: -10px;
        position: relative;
    }

    .mexican {
        margin-left: 250px;
        margin-top: -30px;
    }

    .funghi {
        margin-left: 450px;
        margin-top: -30px;
    }

    .bbq {
        margin-left: 650px;
        margin-top: -30px;
    }

    .hawaiian {
        margin-left: 20px;
        margin-top: 33px;
    }

    .chicken {
        margin-left: 220px;
        margin-top: -33px;
    }

    .vegetarian {
        margin-left: 450px;
        margin-top: -32px;
    }

    .margarita {
        margin-left: 650px;
        margin-top: -32px;
    }

    /*SUSHI*/
    .phila {
        margin-left: 30px;
        margin-top: 10px;
    }

    .california {
        margin-left: 330px;
        margin-top: -30px;
    }

    .sakura {
        margin-left: 630px;
        margin-top: -30px;
    }

    .bonita {
        margin-left: 40px;
        margin-top: 10px;
    }

    .alaska {
        margin-left: 350px;
        margin-top: -32px;
    }

    .tuna {
        margin-left: 650px;
        margin-top: -32px;
    }

    /*BURGERS*/
    .hamburger {
        margin-left: 45px;
        margin-top: 10px;
    }

    .cheeseburger {
        margin-left: 330px;
        margin-top: -30px;
    }

    .chickenburger {
        margin-left: 600px;
        margin-top: -30px;
    }

    .doublecheese {
        margin-left: 45px;
        margin-top: 10px;
    }

    .chickentasty {
        margin-left: 300px;
        margin-top: -32px;
    }

    .bigburger {
        margin-left: 600px;
        margin-top: -32px;
    }

    /*DESSERTS and DRINKS*/
    .chocolate {
        margin-left: 10px;
        margin-top: 10px;
        font-size: 12px;
    }

    .strawberry {
        margin-left: 320px;
        margin-top: -32px;
    }

    .vanil {
        margin-left: 620px;
        margin-top: -32px;
    }

    .cola {
        margin-left: 70px;
        margin-top: 10px;
    }

    .fanta {
        margin-left: 350px;
        margin-top: -32px;
    }

    .water {
        margin-left: 640px;
        margin-top: -32px;
    }

    .pizza_menu, .sushi_menu, .burgers_menu, .desserts_menu, .drinks_menu {
        margin-left: 20px;
        padding: 10px;
        background-color: rgb(19, 23, 20);
        width: 100px;
        height: 50px;
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 8px 15px rgba(0,0,0,.1);
        font-family: comic sans ms;
        font-weight: normal;
        font-size: 15px;
    }

    .drinks_menu {
        width: 200px;
    }

    #menu_content {
        background-color: #fff;
        border-radius: 3px;
        padding: 10px;
        box-shadow: 0 8px 15px rgba(0,0,0,.5);
        margin-top: 0px;
    }

        #menu_content p {
            color: #000;
            font-size: 15px;
            font-family: verdana;
            font-weight: normal;
        }

    /*for all buttons, when the mouse cursor hovers over it*/
    button:hover {
        background: rgb(255, 239, 222);
        box-shadow: 0 15px 20px rgba(142, 245, 207, .4);
        color: rgb(19, 23, 20);
        transform: translateY(-5px);
    }
</style>

<div>
    <div id="menu">
        <h1>Menu</h1>
        <p class="order">Click <a href="">here</a> to make a home order.</p>

        <div id="menu_content">
            <div class="items">
                <button class="pizza_menu">Pizza</button>
                <button class="sushi_menu">Rolls</button>
                <button class="burgers_menu">Burgers</button>
                <button class="drinks_menu">Desserts and drinks</button>
            </div>
       

            <div id="pizza">
                <br><br>
                <img src="/img/pepperoni.jpg" alt="Pepperoni">
                <img src="/img/mexican.jpg" alt="Mexican">
                <img src="/img/funghi.jpg" alt="Funghi">
                <img src="/img/bbq.jpg" alt="BBQ"><br>

                <p class="pepperoni">Pepperoni - 2950 tg.</p>
                <p class="mexican">Mexican - 3350 tg.</p>
                <p class="funghi">Funghi - 2990 tg.</p>
                <p class="bbq">BBQ pizza - 3350 tg.</p>

                &nbsp;<img src="/img/hawaiian.jpg" alt="Hawaiian">&nbsp;&nbsp;
                <img src="/img/chicken.jpg" alt="Chicken">&nbsp;&nbsp;
                <img src="/img/vegetarian.jpg" alt="Vegetarian">&nbsp;&nbsp;
                <img src="/img/margarita.jpg" alt="Margarita">

                <p class="hawaiian">Hawaiian - 2950 tg.</p>
                <p class="chicken">Chicken pizza - 2950 tg.</p>
                <p class="vegetarian">Vegetarian - 2950 tg.</p>
                <p class="margarita">Margherita - 2550 tg.</p>

                <br><br>
            </div> <!--pizza-->

            <div id="sushi">
                <br><br>
                <img src="/img/phila.jpg" alt="Philadelphia">&nbsp;&nbsp;&nbsp;
                <img src="/img/california.jpg" alt="California">&nbsp;&nbsp;&nbsp;
                <img src="/img/sakura.jpg" alt="Sakura">

                <p class="phila">Philadelphia rolls - 1390 tg.</p>
                <p class="california">California rolls - 1200 tg.</p>
                <p class="sakura">Sakura rolls - 1400 tg.</p>

                <img src="/img/bonita.jpg" alt="Bonita">&nbsp;&nbsp;
                <img src="/img/alaska.jpg" alt="Alaska">&nbsp;&nbsp;
                <img src="/img/tuna.jpg" alt="Tuna">

                <p class="bonita">Bonita rolls - 1250 tg.</p>
                <p class="alaska">Alaska rolls - 1390 tg.</p>
                <p class="tuna">Tuna sushi - 1100 tg.</p>

            </div><!--sushi-->

            <div id="burgers">
                <img src="/img/hamburger.jpeg" alt="Hamburger">&nbsp;&nbsp;
                <img src="/img/cheeseburger.jpeg" alt="Cheeseburger">&nbsp;&nbsp;
                <img src="/img/chickenburger.jpeg" alt="Chikenburger">

                <p class="hamburger">Hamburger - 350 tg.</p>
                <p class="cheeseburger">Cheeseburger - 350 tg.</p>
                <p class="chickenburger">Chickenburger - 350 tg. </p>

                <img src="/img/doublecheese.jpeg" alt="Doublecheese">&nbsp;&nbsp;
                <img src="/img/chickentasty.jpeg" alt="Chicken tasty">&nbsp;&nbsp;
                <img src="/img/bigburger.jpeg" alt="Bigburger">

                <p class="doublecheese">Doublecheese - 750 tg.</p>
                <p class="chickentasty">Chicken tasty - 1300 tg.</p>
                <p class="bigburger">Bigburger - 1300 tg.</p>
            </div><!--burgers-->

            <div id="drinks">
                <br><br>
                <img src="/img/chocolate.jpg" class="desserts" alt="Chocolate cheesecake">&nbsp;&nbsp;
                <img src="/img/strawberry.jpg" class="desserts" alt="Strawberry cheesecake">&nbsp;&nbsp;
                <img src="/img/vanil.jpg" class="desserts" alt="Vanilla cheesecake">

                <p class="chocolate">Chocolate cheesecake - 1250 tg.</p>
                <p class="strawberry">Strawberry cheesecake - 1250 tg.</p>
                <p class="vanil">Vanilla cheesecake - 1100 tg.</p>

                <img src="/img/cola.jpg" class="drinks" alt="Coca Cola">&nbsp;&nbsp;&nbsp;
                <img src="/img/fanta.jpg" class="drinks" alt="Fanta">&nbsp;&nbsp;&nbsp;
                <img src="/img/water.jpg" class="drinks" alt="Water">

                <p class="cola">Coke 0.5L - 250 tg.</p>
                <p class="fanta">Fanta 0.5L - 250tg.</p>
                <p class="water">Water 0.5L -180 tg.</p>




            </div><!--drinks-->

        </div> <!--menu_content-->
    </div> <!--menu-->



</div> <!--page-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    //by default, all panels except pizza will be hidden
    $(document).ready(function () {
        $("#sushi").hide();
    });

    $(document).ready(function () {
        $("#burgers").hide();
    });

    $(document).ready(function () {
        $("#drinks").hide();
    });


    //by default, panel "pizza" will be shown
    $(document).ready(function () {
        $(".pizza_menu").click(function () {
            $("#pizza").show();
        });
    });


    //when clicking another button, that panel will be shown
    $(document).ready(function () {
        $(".sushi_menu").click(function () {
            $("#sushi").show();
        });
    });

    $(document).ready(function () {
        $(".burgers_menu").click(function () {
            $("#burgers").show();
        });
    });

    $(document).ready(function () {
        $(".drinks_menu").click(function () {
            $("#drinks").show();
        });
    });


    //when the "pizza" button is clicked, others will be hidden
    //PIZZA
    $(document).ready(function () {
        $(".pizza_menu").click(function () {
            $("#sushi").hide();
        });
    });

    $(document).ready(function () {
        $(".pizza_menu").click(function () {
            $("#burgers").hide();
        });
    });

    $(document).ready(function () {
        $(".pizza_menu").click(function () {
            $("#drinks").hide();
        });
    });

    //when "rolls/sushi" button is clicked, others will be hidden
    //SUSHI
    $(document).ready(function () {
        $(".sushi_menu").click(function () {
            $("#pizza").hide();
        });
    });

    $(document).ready(function () {
        $(".sushi_menu").click(function () {
            $("#burgers").hide();
        });
    });

    $(document).ready(function () {
        $(".sushi_menu").click(function () {
            $("#drinks").hide();
        });
    });

    //when the "burgers" button is clicked all panels except burgers will be hidden
    //BURGERS
    $(document).ready(function () {
        $(".burgers_menu").click(function () {
            $("#pizza").hide();
        });
    });

    $(document).ready(function () {
        $(".burgers_menu").click(function () {
            $("#sushi").hide();
        });
    });

    $(document).ready(function () {
        $(".burgers_menu").click(function () {
            $("#drinks").hide();
        });
    });

    //accordingly with "drinks" button
    //DRINKS
    $(document).ready(function () {
        $(".drinks_menu").click(function () {
            $("#pizza").hide();
        });
    });

    $(document).ready(function () {
        $(".drinks_menu").click(function () {
            $("#sushi").hide();
        });
    });

    $(document).ready(function () {
        $(".drinks_menu").click(function () {
            $("#burgers").hide();
        });
    });

</script>

