@page
@model Yummyset.Pages.SalesModel
@{
}
<style>
    .set {
        background-image: url(https://previews.123rf.com/images/marinamandarina/marinamandarina1707/marinamandarina170700133/82588499-fast-food-pattern-can-be-used-for-textile-website-background-book-cover-packaging-.jpg);
        float: left;
        background-blend-mode: multiply;
        background-size: cover;
        background-attachment: fixed;
        padding: 200px 0;
        width: 100%;
        text-align: center;
        color: #fff;
    }

    #menu {
        margin-left: 200px;
        width: 900px;
    }

        #menu h1 {
            color: rgb(255,255,255);
            text-shadow: 0 15px 20px rgb(46,229,157);
            margin-left: 30px;
            font-size: 50px;
            font-family: times new roman;
            text-shadow: 1px 1px 2px rgb(19, 23, 20);
            text-transform: uppercase;
        }

    #pizza img {
        width: 200px;
        height: 200px;
    }


    #sushi img {
        width: 250px;
        height: 166px;
        margin-left: 30px;
    }

    .pepperoni {
        margin-left: -600px;
        position: -35px;
    }


    .mexican {
        margin-left: -200px;
        margin-top: -40px;
    }

    .funghi {
        margin-left: 250px;
        margin-top: -35px;
    }

    .bbq {
        margin-left: 650px;
        margin-top: -30px;
    }

    .hawaiian {
        margin-left: -600px;
        margin-top: 30px;
    }

    .chicken {
        margin-left: -200px;
        margin-top: -30px;
    }

    .vegetarian {
        margin-left: 250px;
        margin-top: -40px;
    }

    .margarita {
        margin-left: 650px;
        margin-top: -40px;
    }

    .phila {
        margin-left: -600px;
        margin-top: 0px;
    }

    .california {
        margin-left: 50px;
        margin-top: -40px;
    }

    .sakura {
        margin-left: 630px;
        margin-top: -35px;
    }

    .bonita {
        margin-left: -600px;
        margin-top: 5px;
    }

    .alaska {
        margin-left: 50px;
        margin-top: -40px;
    }

    .tuna {
        margin-left: 650px;
        margin-top: -35px;
    }



    #set_content {
        background-color: #fff;
        border-radius: 3px;
        padding: 10px;
        box-shadow: 0 8px 15px rgba(0,0,0,.5);
    }

        #set_content p {
            color: #000;
            font-size: 18px;
            font-family: verdana;
            font-weight: normal;
        }
</style>
<script language="JavaScript">
    var line = "Yummyset is the best delivery in the world"
    var speed = 140;
    var i = 0;
    function m_line() {
        if (i++ < line.length) {
            document.cit.forum.value = line.substring(0, i);
        }
        else {
            document.cit.forum.value = " ";
            i = 0;
        }
        setTimeout('m_line()', speed);
    }
</script>
<div>
    <div bgcolor=000000>
        <center>
            <form name=cit>
                <input type=text size=32 name=forum>
            </form>
        </center>
    </div>
    <script language="JavaScript">
        m_line();
    </script>
    <div class="set">
        <p>
            <h1>
                Sets
            </h1>
        </p>




        <div id="pizza">
            <br><br>
            &nbsp;&nbsp;<img src="https://i.pinimg.com/originals/f5/6f/8b/f56f8b9c829381e4c477fa2403d74cd8.jpg" alt="Pepperoni">&nbsp;&nbsp;
            <img src="https://previews.123rf.com/images/drakonova/drakonova1808/drakonova180800020/106951664-pizza-slices-set-with-melting-cheese-linear-isometric-minimal-vector-illustration-icons-collection-i.jpg" alt="Mexican">&nbsp;&nbsp;
            <img src="https://previews.123rf.com/images/drakonova/drakonova1808/drakonova180800019/106951663-pizza-slice-with-melting-cheese-linear-isometric-minimal-vector-illustration-icon-isolated-on-white.jpg" alt="Funghi">&nbsp;&nbsp;
            <img src="https://image.freepik.com/free-vector/_23-2147517737.jpg" alt="BBQ"><br>

            <p class="pepperoni">Family - 4950 tg.</p>
            <p class="mexican">Combo " Mix" - 4350 tg.</p>
            <p class="funghi">Balance - 3990 tg.</p>
            <p class="bbq">Mega Pizza - 4350 tg.</p>

            &nbsp;<img src="https://image.freepik.com/free-vector/_185803-97.jpg" alt="Hawaiian">&nbsp;&nbsp;
            <img src="https://i.pinimg.com/originals/99/0c/87/990c87155bf41442d383fb6ac8b2f211.jpg" alt="Chicken">&nbsp;&nbsp;
            <img src="https://png.pngtree.com/png-vector/20190306/ourlarge/pngtree-continuous-line-drawing-of-a-minimalist-bottle-drink-design-png-image_763547.jpg" alt="Vegetarian">&nbsp;&nbsp;
            <img src="https://previews.123rf.com/images/sn333g/sn333g1802/sn333g180200242/95996882-hamburger-line-icon-vector-burger-concept-minimal-symbol-in-thin-line-style.jpg" alt="Margarita">

            <p class="hawaiian">Order for 3000tg.+BURGER</p>
            <p class="chicken">Standart combo -1950 tg.</p>
            <p class="vegetarian">Any 2 drinks+FREE water</p>
            <p class="margarita">Burger creator min price-1500tg.</p>

            <br><br>
        </div>

        <div id="sushi">
            <br><br>
            <img src="https://i.pinimg.com/originals/1a/df/11/1adf11c5a52d4947ac50be9863c93f79.jpg" alt="Philadelphia">&nbsp;&nbsp;&nbsp;
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRSvygICoDtD2ks9ctnuorcu2p-s0WeoPKQ8KKfzcTv6jYsC1i5&usqp=CAU" alt="California">&nbsp;&nbsp;&nbsp;
            <img src="https://image.freepik.com/free-vector/_1205-4860.jpg" alt="Sakura">

            <p class="phila">ESHKERE - 2390 tg.</p>
            <p class="california">Big Combo- 2500 tg.</p>
            <p class="sakura">Set Sashimi3000 -tg</p>


            <p class="bonita"></p>


        </div>
    </div>

